@{
    ViewData["Title"] = "Sipariş Geçmişi";
}
@model List<OrderViewModel>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sipariş Geçmişi</h5>
                @if (Model.Any())
                {
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Sipariş Ödeme No: </th>
                            <th>Satınalma Tarihi: </th>
                            <th>Detay: </th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.CreatedDate.ToShortDateString()</td>
                                <td>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Kurs İsmi</th>
                                            <th>Kurs Fiyat</th>
                                        </tr>
                                        @foreach (var itemOI in item.OrderItems)
                                        {
                                            <tr>
                                                <td>@itemOI.ProductName</td>
                                                <td>@itemOI.Price</td>
                                            </tr>
                                        }
                                    </table>
                                </td>

                            </tr>
                        }
                    </table>
                }
                else
                {
                    <div class="alert alert-info">
                        Satın aldığınız herhengi bir kurs bulunmamaktadır.
                    </div>
                }
            </div>
        </div>
    </div>
</div>

